.button {
  padding: 10px 40px;
  height: 72px;
  width: fit-content;
  border: 2px solid transparent;
  border-radius: 50px;
  background-color: transparent;

  font-size: 19px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 100%;
  letter-spacing: -2%;

  cursor: pointer;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (min-width: 1441px) {
  .button {
    font-size: 22px;
    height: 78px;
    padding: 12px 45px;
  }
}

.dark {
  color: rgba(15, 26, 44);
  border-color: rgba(15, 26, 44);
}
.light {
  color: rgba(188, 198, 210, 1);
  border-color: rgba(188, 198, 210, 1);
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

@media screen and (max-width: 1200px) {
  .button {
    padding: 10px 20px;
    font-size: 17px;
    height: 64px;
  }
}
@media screen and (max-width: 560px) {
  .button {
    padding: 10px 25px;
    font-size: 16px;
    height: 56px;
  }
}
