.container {
  width: 100%;
  padding: 40px calc(72px + 120px);
  padding-bottom: 72px;
}
.formWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}
.col {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.row {
  display: flex;
  gap: 10px;
}
.row div {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
.row .input:last-child {
  width: min-content;
}
.input {
  padding: 16px 40px;
  border: 2px solid rgba(15, 26, 44, 1);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  background-color: rgba(188, 198, 210, 1);
  color: rgba(15, 26, 44, 1);
  height: 72px;
  font-size: 18px;
  width: 100%;
  line-height: 100%;
  letter-spacing: -2%;
}
.input::placeholder {
  color: rgba(80, 102, 123, 1);
}
.input:focus {
  outline: none;
  border-color: rgba(15, 26, 44, 1);
}
.checkboxRow {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.checkboxLabel {
  color: rgba(80, 102, 123, 1);
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -2%;
  display: flex;
  align-items: center;
}
.checkboxInput {
  display: none;
}
.customCheckbox {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(80, 102, 123, 1);
  border-radius: 4px;
  margin-right: 8px;
}
.checkboxInput:checked + .customCheckbox {
  background-color: rgba(80, 102, 123, 1);
}
.error {
  color: rgba(80, 102, 123, 1);
  font-size: 14px;
}

@media screen and (max-width: 1440px) {
  .col:last-child {
    width: 450px;
  }
}

@media screen and (min-width: 1441px) {
  .input {
    font-size: 20px;
    height: 76px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 40px 72px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    padding: 40px;
  }
  .input,
  .mediaBtn {
    padding: 16px 30px;
  }
  .footerRow {
    gap: 20px;
  }
  .flowerId {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 900px) {
  .formWrapper {
    flex-direction: column;
  }
  .col,
  .col:last-child,
  .form {
    width: 100%;
  }
  .input,
  .mediaBtn {
    padding: 16px 20px;
  }
  .row .input {
    width: 100% !important;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 20px;
  }
  .checkboxRow {
    align-items: start;
  }
}

@media screen and (max-width: 560px) {
  .input,
  .mediaBtn {
    font-size: 16px;
  }
  .footerRow {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 425px) {
  .input,
  .mediaBtn {
    font-size: 15px;
  }
  .mediaIcon {
    width: 14px;
    height: 14px;
  }
  .row {
    flex-direction: column;
  }
  .row .input:last-child {
    width: 100%;
  }
  .mediaBtn {
    padding: 16px 10px;
  }
}
