.container {
  display: flex;
  align-items: center;
  padding: 40px 72px 60px 72px;
  gap: 60px;
}
.imageBorder {
  clip-path: polygon(
    0% 100%,
    33% 47%,
    33% 0%,
    100% 0%,
    100% 100%,
    33% 100%,
    33% 62%,
    14% 100%
  );
  width: calc(550px * 1.18);
  height: 550px;
  background-color: rgba(80, 102, 123, 1);
  box-shadow: -4px -4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  position: relative;
  border-radius: 0 12px 12px 0;
}
.image {
  width: 56.5%;
  height: 90%;
  border-radius: 12px;
  box-shadow: -6px -1px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: rgba(188, 198, 210, 1);
  position: absolute;
  top: 5%;
  right: 5%;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 60px;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 36px;
  text-transform: uppercase;
  line-height: 100%;
  font-weight: 500;
}
.headerCol {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.authorName {
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-align: right;
}
.authorRole {
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-align: right;
}
.authorText {
  line-height: 100%;
  letter-spacing: 0%;
  font-size: 18px;
}
.authorTextBold {
  font-weight: 600;
}
.authorQuote {
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  font-style: italic;
  font-size: 18px;
}
.titleMobile {
  display: none;
}

@media screen and (max-width: 1440px) {
  .imageBorder {
    width: calc(400px * 1.18);
    height: 400px;
  }
  .authorQuote,
  .authorText {
    font-size: 16px;
  }
}

@media screen and (max-width: 1200px) {
  .imageBorder {
    width: calc(340px * 1.18);
    height: 340px;
  }
  .content {
    gap: 40px;
  }
  .title {
    font-size: 32px;
  }
  .authorName {
    font-size: 20px;
  }
  .authorRole {
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 40px;
    gap: 30px;
  }
  .imageBorder {
    width: calc(300px * 1.18);
    height: 300px;
  }
  .content {
    gap: 20px;
  }
  .title {
    font-size: 28px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .content {
    gap: 15px;
  }
  .title {
    display: none;
  }
  .titleMobile {
    display: block;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 500;
    text-transform: uppercase;
  }
  .headerCol {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 20px;
  }
}

@media screen and (max-width: 425px) {
  .headerCol {
    flex-direction: column;
    align-items: flex-start;
  }
  .imageBorder {
    width: calc(220px * 1.18);
    height: 220px;
  }
}
