.dropdownWrapper {
  position: relative;
  width: 250px;
}

.dropdownButton {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 100%;
  letter-spacing: 0%;
  color: #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
  height: 48px;
  cursor: pointer;
  padding: 0;
  transition: color 0.15s;
  width: 100%;
}

@media screen and (min-width: 1441px) {
  .dropdownButton {
    font-size: 28px;
  }
  .dropdownItem {
    font-size: 17px;
  }
}

.icon {
  width: 26px;
  height: 17px;
  object-fit: contain;
}
.arrow {
  width: 32px;
  height: 32px;
  margin-left: 8px;
  pointer-events: none;
  stroke: #1a2c43;
}

.dropdownList {
  position: absolute;
  top: 48px;
  left: 0;
  width: max-content;
  background: rgba(207, 206, 201, 1);
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 1);
  border-radius: 0 0 12px 12px;
  z-index: 3;
  list-style: none;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 4px 10px 10px 10px;
}

.dropdownItem {
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(108, 108, 108, 1);
  cursor: pointer;
  transition: background 0.12s;
  border-radius: 0;
  background: none;
  border: none;
  text-align: left;
  width: max-content;
}

.dropdownItem:hover {
  background: rgba(188, 198, 210, 0.5);
}
