.hero {
  padding: 16px 72px 40px 72px;
  background-color: rgba(15, 26, 44, 1);
  height: 100vh;
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 16px 72px 40px 72px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 100px;
  color: rgba(207, 206, 201, 1);
  line-height: 100%;
  letter-spacing: -2%;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

@media screen and (min-width: 1441px) {
  .title {
    font-size: 110px;
  }
}

@media screen and (max-width: 1440px) {
  .title {
    font-size: 88px;
  }
}

@media screen and (max-width: 1200px) {
  .title {
    font-size: 72px;
  }
}

@media screen and (max-width: 1024px) {
  .content {
    padding: 40px;
  }
  .title {
    font-size: 64px;
  }
}

@media screen and (max-width: 900px) {
  .title {
    font-size: 56px;
  }
}

@media screen and (max-width: 768px) {
  .hero,
  .content {
    height: 60vh;
  }
  .content {
    padding: 20px;
  }
}
@media screen and (max-width: 425px) {
  .title {
    font-size: 42px;
  }
}
