.container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 40px 72px;
  padding-bottom: 80px;
  position: relative;
}
.title {
  font-size: 36px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-align: center;
}
.content {
  display: flex;
}
.col {
  width: 50%;
}
.col:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
.image {
  max-width: 500px;
  height: 100%;
  object-fit: contain;
  position: relative;
  margin-bottom: 20px;
  z-index: 1;
}
.blueSection {
  background-color: rgba(27, 47, 72, 1);
  height: 130px;
  width: 60%;
  position: absolute;
  bottom: 40px;
  left: 0;
  z-index: 0;
}
.review {
  padding: 60px 36px 30px 36px;
  background-color: rgba(207, 206, 201, 1);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.reviewText {
  line-height: 100%;
  letter-spacing: 0%;
  text-align: justify;
}
.reviewHeader {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.reviewIcon {
  font-size: 24px;
  opacity: 0.8;
}
.reviewRow {
  display: flex;
  justify-content: space-between;
}
.reviewAuthor {
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.reviewDate {
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1441px) {
  .title {
    font-size: 40px;
  }
  .reviewText {
    font-size: 18px;
    line-height: 130%;
  }
  .reviewAuthor {
    font-size: 28px;
  }
  .reviewDate {
    font-size: 22px;
  }
  .reviewIcon {
    font-size: 28px;
  }
}

@media screen and (max-width: 1440px) {
  .image {
    max-width: 430px;
  }
}

@media screen and (max-width: 1200px) {
  .image {
    max-width: 360px;
  }
  .blueSection {
    height: 100px;
  }
  .review {
    padding: 40px 24px 20px 24px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 40px;
  }
  .title {
    font-size: 32px;
  }
  .image {
    max-width: 320px;
    margin-bottom: 60px;
  }
  .review {
    padding: 30px 20px 15px 20px;
  }
  .reviewAuthor {
    font-size: 20px;
  }
  .reviewDate {
    font-size: 18px;
  }
}

@media screen and (max-width: 900px) {
  .blueSection {
    height: 80px;
  }
  .image {
    max-width: 260px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 20px;
  }
  .title {
    font-size: 28px;
  }
  .blueSection {
    display: none;
  }
  .col {
    width: 100%;
    gap: 20px;
  }
  .col:last-child {
    flex-direction: column-reverse;
    margin-top: -80px;
  }
  .image {
    margin-bottom: 0;
    max-width: 300px;
  }
  .content {
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 560px) {
  .content {
    flex-direction: column-reverse;
  }
  .col {
    display: flex;
    justify-content: center;
  }
  .col:last-child {
    margin-top: 0;
    align-items: center;
  }
  .blueSection {
    display: block;
    width: 100%;
    bottom: 0;
  }
}

@media screen and (max-width: 425px) {
  .image {
    max-width: 240px;
  }
}
